* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: white;
    color: black;
    overflow: hidden;
}
.main {
    display: flex;
    height: 100vh;
    /* padding: 0.5rem; */
}
.sidebar{
    background-color: white;
    /* height: 100vh; */
    width: 330px;
    /* border-radius: 1rem; 16px */
    /* margin-right: 0.5rem; */
    text-align: center;
}
.logo{
    background-color: white;
    height: 8vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border: 2px solid #D9D9D9;
    /* padding: 0 1rem;  */
}
.logo img {
    margin-left: 1rem;
    height: 100%; /* Adjust logo image to fill the container height */
}
.logo h3 {
    margin: 0;

    /* flex: 1; Take up the remaining space */
}
.logo i {
    
    margin-left: 1rem;
    margin-right: 1rem; 
}
/* .logo i{
    display: flex;

    align-items: end;
} */
.username{
    background-color: white;
    height: 29vh;
    border: 2px solid #D9D9D9;
    align-content: center;
}
.username img{
    /* margin-top: 1rem; */
    height: 50%;
    width: auto;
    border-radius: 50%;
}
.username h4{
    margin-top: 0.25rem;
}

.options{
    background-color: white;
    justify-content: center;
    height: 45vh;
    padding-top: 0.5rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    border: 2px solid #D9D9D9;
    display: flex;
    align-content: center;
    flex-direction: column;
}
.options button{
    margin-bottom: 0.75rem;
    padding: 1rem;
    border-radius: 0.5rem;
    font-size: 1rem;
    display: flex;
    border: none;
    /* justify-content: center; */
    background-color: white;
}
.options button:hover {
    background-color: #222222;
    color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.options button i{
    margin-right: 1rem;
}
.extras{
    height: 18vh;
    background-color: white;
    display: flex;
    justify-content: center;
    flex-direction: column;
    border: 2px solid #D9D9D9;
    padding-top: 0.5rem;
    padding-right: 0.5rem;
    padding-left: 0.5rem;
}
.extras button{
    margin-bottom: 0.5rem;
    padding: 1rem;
    border-radius: 0.5rem;
    font-size: 1rem;
    display: flex;
    border: none;
    background-color: white;
}
.extras button:hover {
    background-color: #222222;
    color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.extras button i{
    margin-right: 1rem;
}
.display{
    width: 100%;
}
.heading{
    background-color: white;
    height: 10vh;
    font-size: 1rem;
    padding: 1rem;
    padding-left: 2rem;
    display: flex;
    align-items: center;
    width: 100%;
    border-top: 2px solid #D9D9D9;
    border-right: 2px solid #D9D9D9;
    border-left: 2px solid #D9D9D9;
}
.search-container {
    display: flex;
    align-items: center;
    border: 2px solid #D9D9D9;
    border-radius: 50px;
    /* padding: 0.5rem; */
    background-color: white;
    width: 300px;
    position: absolute; /* Absolute positioning */
    right: 2rem; /* Distance from the right */
}

.search-input {
    border: none;
    outline: none;
    padding: 10px;
    font-size: 16px;
    width: 100%;
    border-radius: 50px;
}

.search-input::placeholder {
    color: #aaa;
}

.search-btn {
    /* background-color: #3498db; */
    border: none;
    outline: none;
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;
    /* color: #fff; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-btn i {
    font-size: 16px;
}

.search-btn:hover {
    background-color: white;
}
.content{
    background-color: #f0f0f0;
    height: 90vh;
    border-bottom: 2px solid #D9D9D9;
    border-right: 2px solid #D9D9D9;
    border-left: 2px solid #D9D9D9;
    font-size: 1rem;
    padding: 1rem;
    padding-right: 2rem;
    display: flex;
    justify-content: space-evenly;
    overflow: auto;
}
/* .project-description{
    width: 100%;
    margin: 0.5rem;
    height: min-content;
    background-color: green
} */
.project-content{
    width: 100%;
    margin: 0.5rem;
    height: min-content;
    background-color: #f0f0f0

}
.project-topic{
    margin-bottom: 0.5rem;
    padding: 0.5rem;
    padding-top: 0;
    border-bottom: 2px solid #D9D9D9;
}
.project-subtopic{
    /* margin-bottom: 0.5rem; */
    padding: 0.5rem;
    padding-top: 0;
    border-bottom: 2px solid #D9D9D9;
}
.project-content img {
    width: 100%;
    margin-bottom: 0.5rem;
    border-radius: 1rem;
    border: 2px solid #D9D9D9;
}
.project-content p{
    padding: 0.5rem;
}
.project-info{
    display: flex;
}
.project-box{
    height: min-content;
    
    /* display: flex; */
    width: 100%;
    /* margin: 0.5rem; */
    background-color: #f0f0f0;
}
.project-left{
    margin-right: 0.5rem;
}
.project-right{
    margin-left: 0.5rem;
}
.project-card{
    background-color: white;
    width: 100%;
    padding: 1rem;
    border-radius: 1rem;
    border: 2px solid #D9D9D9;
    margin-bottom: 1rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.project-card h3{
    margin-bottom: 1rem;
}
.project-card img {
    width: 100%;
    margin-bottom: 0.5rem;
    border-radius: 1rem;
    border: 2px solid #D9D9D9;
}
.project-card button{
    font-size: 1rem;
    width: 100%;
    display: flex;
    padding: 0.5rem;
    padding-left: 1rem;
    border-radius: 1rem;
    border: none;
    background-color: #D9D9D9;
}
.project-card button:hover{
    background-color: #222222;
    color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.project-detail h3{
    border-bottom: 2px solid #D9D9D9;
    padding: 0.5rem;
    padding-top: 0;
    margin-bottom: 0.5rem;
}
.project-detail ul{
    list-style-type: none;
}
.project-detail ul li{
    margin-bottom: 0.5rem;
}
/* .project-mail:hover{
    background-color: #D9D9D9;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
} */
.list{
    background-color: white;
    border-radius: 0.5rem;
    border: 2px solid #D9D9D9;
}
.list p{
    font-size: 1rem;
    padding: 0.75rem;
    border-bottom: 2px solid #D9D9D9;
    background-color: white;
    /* border-radius: 0.5rem; */
}
.list p i{
    margin-right: 0.5rem;
}
.top{
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
.bottom{
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    /* border-bottom: none; */
}

.list p:hover{
    background-color: #222222;
    color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.data{
    display: flex;
    justify-content: space-between;
    /* flex-direction: row; */
    /* align-self: center; */
    /* justify-content: center; */
    /* list-style-type: none; */
    padding: 0.5rem;
}
.data ul{
    list-style-type: none;
}
.data ul li{
    margin-bottom: 0.5rem;
}
.sub-data{
    display: flex;
    flex-direction: column;
    align-items: end;
}